.w-main
  bg: var(--theme-accent-dark-grey)
  h: 100vh
  pa: 20px 0px

.main-b
  d: flex
  f-dir: column
  ai: flex-start
  h: 100vh
  pt: 20vh
  &__
    &title
      fw: 800
      fs: 40px
      color: var(--theme-relief-5)
      +mq-sm
        fs: 50px
      +mq-md
        fs: 64px
    &subtitle
      fw: 500
      fs: 8px
      color: var(--theme-relief-5)
      +mq-sm
        fs: 14px
      +mq-md
        fs: 18px
      &--
        &top
          +mq-sm
            ml: 20%
        &white
          color: var(--theme-relief-1)
          pa: 6px 10px
          br-radius: 5px
          bg: var(--theme-relief-6)
          &-mini
            fw: 800
            color: var(--theme-relief-1)
            &-color
              fw: 800
              color: var(--theme-primary-green)
    &btn
      ma: 30px 0px 0px 40%
      font-family: ElegantIcons
      td: none
      fs: 25px
      color: var(--theme-primary-green)
      +mq-sm
        fs: 35px
      +mq-md
        fs: 45px
      +mq-lg
        fs: 55px
        ma: 30px 0px 0px 30%
      +mq-xl
        ma: 30px 0px 0px 25%