.w-main
  bg: var(--theme-accent-dark-grey)
  h: 100vh
  pa: 20px 0px

.main-b
  d: flex
  f-dir: column
  //jc: center
  ai: flex-start
  h: 100vh
  pt: 20vh
  &__
    &title
      fw: 800
      fs: 40px
      color: var(--theme-relief-5)
      +mq-sm
        fs: 50px
      +mq-md
        fs: 64px
    &subtitle
      fw: 500
      fs: 8px
      color: var(--theme-relief-5)
      +mq-sm
        fs: 14px
      +mq-md
        fs: 18px
      &--
        &top
          +mq-sm
            ml: 20%
        &white
          color: var(--theme-relief-1)
          pa: 6px 10px
          br-radius: 5px
          bg: var(--theme-relief-6)
          &-mini
            fw: 800
            color: var(--theme-relief-1)
            &-color
              fw: 800
              color: var(--theme-primary-green)
    &decwrap
      d: flex
      ai: center
      jc: flex-start
      w: 100%
      +mq-md
        w: 85%
        .figure
          &__
            &line
              h: 8px
              br-t: 2px solid var(--theme-primary-main)
              br-b: 2px solid var(--theme-primary-main)
            &rhombus
              &--
                &once
                  w: 10px
                  h: 10px
                  br-radius:1px
                &two
                  w: 13px
                  h: 13px
                  br-radius:2px
                &three
                  w: 16px
                  h: 16px
                  br-radius:3px
      +mq-lg
        w: 65%
      +mq-xl
        w: 54%            
    &description
      pa: 10px 0px
      fs: 10px
      fw: 800
      fa: center
      color: var(--theme-relief-5)
      +mq-sm
        fs: 16px
      +mq-md
        fs: 25px
      &--color
        color: var(--theme-primary-green)
    &btn
      ma: 30px 0px 0px 40%
      font-family: ElegantIcons
      td: none
      fs: 35px
      color: var(--theme-primary-green)
      +mq-lg
        ma: 30px 0px 0px 30%
      +mq-xl
        ma: 30px 0px 0px 25%