//.w-portfolio
.portfolio-b 
  d: flex
  flex-wrap: wrap
  ai: center
  jc: center
  pa: 50px 0px 50px 0px
  +mq-md
    pa: 70px 0px 70px 0px
  
  .title-3
    w: 100%
    jc: center
    mb: 15px
  &__
    &btn
      w: 80%
      mt: 20px
      &:hover
        ma: 20px 0px 0px 0px

.card-2
  d: flex
  f-dir: column
  ai: center
  jc: center 
  w: 49%
  ma: 1px
  pa: 50px 0px 55px 0px
  bg: var(--theme-accent-dark-grey)
  br-radius: 5px
  color: var(--theme-accent-dark-grey)
  tr: 0.5s
  cursor: pointer
  +mq-sm
    w: 30%
  +mq-md
    w: 24%
  +mq-xl
    w: 16%
  &:hover
    bg: var(--theme-primary-green)
    color: var(--theme-accent-white)

    .icon-2
      &__
        &bg
          bg: var(--theme-accent-white)
          &:hover
            bg: var(--theme-text-5)
            z-index: 10

            .icon-2__pic
              color: var(--theme-text-2)
        &pic
          color: var(--theme-primary-green)
  &__
    &title
      fw: 800
      fs: 16px
      ta: center
    &subtitle
      ma: 10px 0px 20px 0px
      fw: 400
      fs: 14px
    &rating
      fw: 800
      fs: 12px
      &--
        &icon
          font-family: ElegantIcons
          fw: 800
          fs: 10px
        
