.w-skills
  mt: 50px
  bg: var(--theme-relief-5)
.skills-b
  d: flex
  ai: center
  jc: center
  flex-flow: row wrap
  pos: relative

  .icon
    &__
      &pic
        mt: 0px
        ml: 2px
        font-family: ElegantIcons
        fw: 800
        fs: 12px
        color: var(--theme-accent-white)
        trans: rotate(-45deg)
        +mq-sm
          mt: 2px
          ml: 6px
          fs: 14px
        +mq-md
          mt: 4px
          ml: 8px
          fs: 16px
        +mq-lg
          mt: 5px
          ml: 10px
          fs: 18px
        +mq-xl
          mt: 7px
          ml: 14px
          fs: 20px

  .title-3
    w: 100%
    jc: center
    mb: 15px
    &__text
      color: var(--theme-accent-white)
      &--color
        color: var(--theme-primary-green)

  .figure
    w: 12%
    &__
      &line
        d: none

.prog-bar
  pos: relative
  d: flex
  flex-direction: column
  ai: center
  jc: space-between
  w: 40% 
  pa: 0px 5px
  +mq-sm
    w: 40%
  +mq-md
    w: 30%
  +mq-lg
    w: 30%
  +mq-xl
    w: 15%
  &__
    &percent
      pos: absolute
      w: 100%
      top: 27%
      fa: center
      &-
        &strong
          pos: relative
          fw: 800
          fs: 20px
          color: var(--theme-accent-white)
          +mq-sm
            fs: 24px
          +mq-md
            fs: 26px
          +mq-lg
            fs: 28px
          +mq-xl
            fs: 30px
        &min
          pos: relative
          fw: 500
          fs: 12px
          color: var(--theme-accent-white)
          +mq-sm
            fs: 14px
          +mq-md
            fs: 16px
          +mq-lg
            fs: 18px
          +mq-xl
            fs: 20px
    &name
      ma: 20px 0px
      fw: 800
      fs: 10px
      ft: uppercase
      color: var(--theme-text-4)
      +mq-sm
        fs: 12px
      +mq-lg
        fs: 14px
      
.chart
  w: 120px 
  h: 120px
  +mq-sm
    w: 120px 
    h: 120px
  +mq-md
    w: 130px 
    h: 130px
  +mq-lg
    w: 140px 
    h: 140px
  +mq-xl
    w: 150px 
    h: 150px
  &__
    &circle
      animation: circle-chart-fill 2s reverse
      transform: rotate(180deg)
      transform-origin: center
