include ../../mixins/index


+b.w-main.SECTION(id='ban')
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.main-b
      +e.subtitle--top.H2 WHAT ARE YOU WAITING FOR ?
      +e.title.H1 LET'S BE CREATIVE !
      +e.subtitle--white.H2 #[+e.subtitle--white-mini.SPAN #[+e.subtitle--white-mini-color.SPAN S]tartuprr,] NEXT GENERATION & HIGHLY FLEXIBLE WORDPRESS THEME
      +b.title-3
        +b.figure--left
          +e.line
          +e.rhombus--once
          +e.rhombus--two
          +e.rhombus--three
        +e.text.P #[+e.text--color START] DOING THAT
        +b.figure--right
          +e.line
          +e.rhombus--once
          +e.rhombus--two
          +e.rhombus--three
      +e.btn.arrow_carrot-down_alt2.A(href="#head") &#x3b;
      