include ../../mixins/index

+b.w-clients
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.clients-b
      +b.slider-clients
        +b.wrap
          +b.client
            +e.log.IMG(src="../static/img/client-1.png" alt="logo client")
        +b.wrap
          +b.client
            +e.log.IMG(src="../static/img/client-2.png" alt="logo client")
        +b.wrap
          +b.client
            +e.log.IMG(src="../static/img/client-3.png" alt="logo client")
        +b.wrap
          +b.client
            +e.log.IMG(src="../static/img/client-4.png" alt="logo client")
        +b.wrap
          +b.client
            +e.log.IMG(src="../static/img/client-2.png" alt="logo client")
        +b.wrap
          +b.client
            +e.log.IMG(src="../static/img/client-3.png" alt="logo client")
