include ../../mixins/index
-
  const offerData = {
          pos: '',
          title:'WHAT WE',
          colorTitle:'OFFER',
          subtitle: 'We offer our customers the best services & solutions, this is our main services list',
        }
+b.w-offer
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.offer-b
      +globalTitle(offerData)
      +b.card-1
        +e.icon.icon_desktop.P &#xe00e;
        +e.title.H4 RESPONSIVE & MULTIPURPOSE
        +e.text.P Proin in magna a ipsum viverra scelerisq enec turp, 
                | Nunc vestibulum fringilla accumsan ornare quis.
        +b.btn.__btn.BUTTON READ MORE
      +b.card-1
        +e.icon.--puzzle.icon_puzzle_alt.P &#xe0f9;
        +e.title.H4 EASY CUSTOMIZATION
        +e.text.P Proin in magna a ipsum viverra scelerisq enec turp, 
                | Nunc vestibulum fringilla accumsan ornare quis.
        +b.btn.__btn.BUTTON READ MORE
      +b.card-1
        +e.icon.icon_lifesaver.P &#xe028;
        +e.title.H4 AWESOME FRIENDLY SUPPORT
        +e.text.P Proin in magna a ipsum viverra scelerisq enec turp, 
                | Nunc vestibulum fringilla accumsan ornare quis.
        +e.btn.BUTTON READ MORE