include ../../mixins/index

+b.w-portfolio
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.portfolio-b
      +b.title-3
        +b.figure--left
          +e.line
          +e.rhombus--once
          +e.rhombus--two
          +e.rhombus--three
        +e.text.P sample #[+e.text--color works]
        +b.figure--right
          +e.line
          +e.rhombus--once
          +e.rhombus--two
          +e.rhombus--three
      +e.subtitle.P Let’s take a look at some of the best of our works here, we love them and hope you too
      - count = 0;
      while count < 12
        +b.card-2
          +b.icon-2
            +e.bg.A
              +e.pic.icon_link_alt.P &#xe02b;
            +e.bg.A
              +e.pic.icon_search.P &#x55;
          +e.title.P Corporate Brochure
          +e.subtitle.P Illustration / Print
          +e.rating.A #[+e.rating--icon.icon_heart.SPAN &#xe089;] 136
        - count += 1;
      +b.btn.portfolio-b__btn.BUTTON view all works
        