include ../../mixins/index

+b.w-properties.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.properties-b
      +b.icon
        +e.pic.icon_key.P &#xe06e;
      +b.title-3
        +b.figure--left
          +e.line
          +e.rhombus--once
          +e.rhombus--two
          +e.rhombus--three
        +e.text.P AMAZING #[+e.text--color FEATURES]
        +b.figure--right
          +e.line
          +e.rhombus--once
          +e.rhombus--two
          +e.rhombus--three
      +e.subtitle.P With unlimited features that we offer, 
                  | we promise it’s possible to make everything 
                  | that was impossible for you !
      +b.info.UL
        +b.item.LI
          +e.icon
            +e.icon-pic.icon_desktop.P &#xe00e;
          +e.title.P RESPONSIVE & MULTIPURPOSE
          +e.text.P Proin in magna a ipsum viverra scelerisq enec 
                  | turp, nunc vestibulum.
        +b.item.LI
          +e.icon
            +e.icon-pic.icon_puzzle_alt.P &#xe0f9;
          +e.title.P EASY CUSTOMIZATION
          +e.text.P Proin in magna a ipsum viverra scelerisq enec 
                  | turp, nunc vestibulum.
        +b.item.LI
          +e.icon
            +e.icon-pic.icon_star.P &#xe033;
          +e.title.P ULIMITED FEATURES
          +e.text.P Proin in magna a ipsum viverra scelerisq enec 
                  | turp, nunc vestibulum.
      +b.device
        +e.foto.IMG(src="../static/img/2-layers.png" alt="device")