include ../../mixins/index

+b.w-question
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.question-b
      +e.title.H3 are you satisfied with unlimited features that we offer?
      +e.panel
        +b.btn.question-b__btn.BUTTON purchase it now
        +b.btn.question-b__btn.BUTTON contact us now
