include ../../mixins/index

+b.w-social.SECTION 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.social-b
      +e.logo
        +e.logo-imge.IMG(src="../static/img/logo.png" alt="logo")
      +e.items.P
        +e.item-icon.social_facebook.SPAN &#xe093;
        +e.item-icon.social_twitter.SPAN &#xe094;
        +e.item-icon.social_pinterest.SPAN &#xe095;
        +e.item-icon.social_rss.SPAN &#xe09e;
        +e.item-icon.social_vimeo.SPAN &#xe09c;
        +e.item-icon.social_youtube.SPAN &#xe0a3;
        +e.item-icon.social_linkedin.SPAN &#xe09d;
        +e.item-icon.social_dribbble.SPAN &#xe09b;
        +e.item-icon.social_deviantart.SPAN &#xe09f;
        +e.item-icon.social_picassa.SPAN &#xe0a4;
        +e.item-icon.social_tumbleupon.SPAN &#xe098;
    