include ../../mixins/index
-
  const quot = [
          {
            unitq:'alexis simpson', 
            specq: 'CEO & Developer',
            quotes: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!',
          },
          {
            unitq:'steven cole', 
            specq: 'User Interface Designer',
            quotes: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!',
          },
          {
            unitq:'Frank piener', 
            specq: 'Sales Manager',
            quotes: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!',
          },
          {
            unitq:'ashley lennon', 
            specq: 'IT Specialist',
            quotes: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!',
          },
          {
            unitq:'steven cole', 
            specq: 'User Interface Designer',
            quotes: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!',
          },
          {
            unitq:'Frank piener', 
            specq: 'Sales Manager',
            quotes: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!',
          },
        ]

+b.w-utterance
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.utterance-b
      +b.icon
        +e.pic.icon_quotations.P &#x7b;
      +b.cit-slider
        +qcard(quot)
      