<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.png" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="whead"> 
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head">
                                                                                    <div class="logo"><img class="logo__img" src="../static/img/logo.png" alt="logo" title=""/>
                                                                                    </div>
                                                                                    <nav class="navbar"> 
                                                                                                              <ul class="navbar__list"> 
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">HOME</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">PORTFOLIO</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">BLOG</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">PAGES</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">FEATURES</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">MEGA MENU</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">CONTACT</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"> <a class="navbar__link">TWO</a>
                                                                                                                                        </li>
                                                                                                              </ul>
                                                                                    </nav>
                                                                                    <div class="search"><input class="search__field" type="text"/><span class="search__icon icon_search">&#x55;</span>
                                                                                    </div>
                                                                                    <button class="btn-menu"><span class="btn-menu__line btn-menu__line--once"></span><span class="btn-menu__line btn-menu__line--two"></span><span class="btn-menu__line btn-menu__line--three"></span>
                                                                                    </button>
                                                                </div>
                                            </div>
                        </header>
      <main class="main">
                                <section class="w-main">
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="main-b">
                                                                                                                      <h2 class="main-b__subtitle main-b__subtitle--top">WHAT ARE YOU WAITING FOR ?
                                                                                                                      </h2>
                                                                                                                      <h1 class="main-b__title">LET'S BE CREATIVE !
                                                                                                                      </h1>
                                                                                                                      <h2 class="main-b__subtitle main-b__subtitle--white"><span class="main-b__subtitle main-b__subtitle--white-mini"><span class="main-b__subtitle main-b__subtitle--white-mini-color">S</span>tartuprr,</span> NEXT GENERATION & HIGHLY FLEXIBLE WORDPRESS THEME
                                                                                                                      </h2>
                                                                                                                      <div class="main-b__decwrap">
                                                                                                                                                <div class="figure figure--left">
                                                                                                                                                                                  <div class="figure__line">
                                                                                                                                                                                  </div>
                                                                                                                                                                                  <div class="figure__rhombus figure__rhombus--once">
                                                                                                                                                                                  </div>
                                                                                                                                                                                  <div class="figure__rhombus figure__rhombus--two">
                                                                                                                                                                                  </div>
                                                                                                                                                                                  <div class="figure__rhombus figure__rhombus--three">
                                                                                                                                                                                  </div>
                                                                                                                                                </div>
                                                                                                                                                        <p class="main-b__description"><span class="main-b__description main-b__description--color">START</span> DOING THAT
                                                                                                                                                        </p>
                                                                                                                                                <div class="figure figure--right">
                                                                                                                                                                                  <div class="figure__line">
                                                                                                                                                                                  </div>
                                                                                                                                                                                  <div class="figure__rhombus figure__rhombus--once">
                                                                                                                                                                                  </div>
                                                                                                                                                                                  <div class="figure__rhombus figure__rhombus--two">
                                                                                                                                                                                  </div>
                                                                                                                                                                                  <div class="figure__rhombus figure__rhombus--three">
                                                                                                                                                                                  </div>
                                                                                                                                                </div>
                                                                                                                      </div><a class="main-b__btn arrow_carrot-down_alt2" href="#">&#x3b;</a>
                                                                                    </div>
                                                          </div>
                                </section>
                                <div class="w-offer">
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="offer-b">
                                                                                    </div>
                                                          </div>
                                </div>
      </main>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>