
<footer class="w-foot"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="foot-b">
      <div class="icon">
        <p class="icon__pic arrow_triangle-up">&#x42;
        </p>
      </div>
      <form class="form js-form-ajax" data-action="https://httpbin.org/post" data-method="POST" id="js-form-ajax"><input class="hidden-info" name="hidden-info" type="hidden" value="test value"/>
        <div class="form__item-wrap"><input class="form__item-inp dim" name="name" type="text" data-rule="required|name" placeholder="Name"/>
        </div>
        <div class="form__item-wrap"><input class="form__item-inp dim" name="email" type="email" data-rule="required|email" placeholder="Email Address"/>
        </div>
        <div class="form__item-wrap"><textarea class="form__item-inp form__item-inp--note" name="note" type="text" wrap="hard" data-rule="required|note" placeholder="Message..."></textarea>
        </div>
        <button class="btn form__btn" type="submit">submit message
        </button>
      </form>
      <p class="foot-b__text">Copyright © 2014 Startuprr, All Rights Reserved.
      </p>
    </div>
  </div>
</footer>