
<header class="whead"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="head">
      <div class="logo"><img class="logo__img" src="../static/img/logo.png" alt="logo" title=""/>
      </div>
      <nav class="navbar"> 
        <ul class="navbar__list"> 
          <li class="navbar__item"> <a class="navbar__link">HOME</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">PORTFOLIO</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">BLOG</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">PAGES</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">FEATURES</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">MEGA MENU</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">CONTACT</a>
          </li>
          <li class="navbar__item"> <a class="navbar__link">TWO</a>
          </li>
        </ul>
      </nav>
      <div class="search"><input class="search__field" type="text"/><span class="search__icon icon_search">&#x55;</span>
      </div>
      <button class="btn-menu"><span class="btn-menu__line btn-menu__line--once"></span><span class="btn-menu__line btn-menu__line--two"></span><span class="btn-menu__line btn-menu__line--three"></span>
      </button>
    </div>
  </div>
</header>