
<section class="w-main" id="ban">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="main-b">
      <h2 class="main-b__subtitle main-b__subtitle--top">WHAT ARE YOU WAITING FOR ?
      </h2>
      <h1 class="main-b__title">LET'S BE CREATIVE !
      </h1>
      <h2 class="main-b__subtitle main-b__subtitle--white"><span class="main-b__subtitle main-b__subtitle--white-mini"><span class="main-b__subtitle main-b__subtitle--white-mini-color">S</span>tartuprr,</span> NEXT GENERATION & HIGHLY FLEXIBLE WORDPRESS THEME
      </h2>
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text"><span class="title-3__text title-3__text--color">START</span> DOING THAT
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div><a class="main-b__btn arrow_carrot-down_alt2" href="#head">&#x3b;</a>
    </div>
  </div>
</section>