
<div class="w-clients">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="clients-b">
      <div class="slider-clients">
        <div class="wrap">
          <div class="client"><img class="client__log" src="../static/img/client-1.png" alt="logo client" title=""/>
          </div>
        </div>
        <div class="wrap">
          <div class="client"><img class="client__log" src="../static/img/client-2.png" alt="logo client" title=""/>
          </div>
        </div>
        <div class="wrap">
          <div class="client"><img class="client__log" src="../static/img/client-3.png" alt="logo client" title=""/>
          </div>
        </div>
        <div class="wrap">
          <div class="client"><img class="client__log" src="../static/img/client-4.png" alt="logo client" title=""/>
          </div>
        </div>
        <div class="wrap">
          <div class="client"><img class="client__log" src="../static/img/client-2.png" alt="logo client" title=""/>
          </div>
        </div>
        <div class="wrap">
          <div class="client"><img class="client__log" src="../static/img/client-3.png" alt="logo client" title=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>