
<div class="w-command">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="command-b">
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text"><span class="title-3__text title-3__text--color">team</span> members
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="command-b__subtitle">We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests
      </p>
      <div class="dev-slider multiple-items">
        <div class="wrap">
          <div class="slide">
            <div class="slide__foto">
              <div class="slide__foto-imge">
              </div>
              <div class="icon-2"><a class="icon-2__bg">
                <p class="icon-2__pic social_facebook">&#xe093;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_twitter">&#xe094;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_googleplus">&#xe096;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_vimeo">&#xe09c;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_dribbble">&#xe09b;
                </p></a>
              </div>
            </div>
            <p class="btn slide__btn">alexis simpson
            </p>
            <p class="slide__spec">CEO &amp; Developer
            </p><a class="slide__emaile" href="mailto:a.simpson@unique.com"><span class="slide__emaile-icon icon_mail">&#xe076;</span> <span>a.simpson@unique.com</span></a><br/><a class="slide__phone" href="tel:+1 911 (77) 222-1111"><span class="slide__phone-icon icon_phone">&#xe090;</span> <span>+1 911 (77) 222-1111</span></a>
          </div>
        </div>
        <div class="wrap">
          <div class="slide">
            <div class="slide__foto">
              <div class="slide__foto-imge">
              </div>
              <div class="icon-2"><a class="icon-2__bg">
                <p class="icon-2__pic social_facebook">&#xe093;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_twitter">&#xe094;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_googleplus">&#xe096;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_vimeo">&#xe09c;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_dribbble">&#xe09b;
                </p></a>
              </div>
            </div>
            <p class="btn slide__btn">steven cole
            </p>
            <p class="slide__spec">User Interface Designer
            </p><a class="slide__emaile" href="mailto:s.cole@unique.com"><span class="slide__emaile-icon icon_mail">&#xe076;</span> <span>s.cole@unique.com</span></a><br/><a class="slide__phone" href="tel:+1 911 (77) 222-1111"><span class="slide__phone-icon icon_phone">&#xe090;</span> <span>+1 911 (77) 222-1111</span></a>
          </div>
        </div>
        <div class="wrap">
          <div class="slide">
            <div class="slide__foto">
              <div class="slide__foto-imge">
              </div>
              <div class="icon-2"><a class="icon-2__bg">
                <p class="icon-2__pic social_facebook">&#xe093;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_twitter">&#xe094;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_googleplus">&#xe096;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_vimeo">&#xe09c;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_dribbble">&#xe09b;
                </p></a>
              </div>
            </div>
            <p class="btn slide__btn">Frank piener
            </p>
            <p class="slide__spec">Sales Manager
            </p><a class="slide__emaile" href="mailto:f.piener@unique.com"><span class="slide__emaile-icon icon_mail">&#xe076;</span> <span>f.piener@unique.com</span></a><br/><a class="slide__phone" href="tel:+1 911 (77) 222-1111"><span class="slide__phone-icon icon_phone">&#xe090;</span> <span>+1 911 (77) 222-1111</span></a>
          </div>
        </div>
        <div class="wrap">
          <div class="slide">
            <div class="slide__foto">
              <div class="slide__foto-imge">
              </div>
              <div class="icon-2"><a class="icon-2__bg">
                <p class="icon-2__pic social_facebook">&#xe093;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_twitter">&#xe094;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_googleplus">&#xe096;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_vimeo">&#xe09c;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_dribbble">&#xe09b;
                </p></a>
              </div>
            </div>
            <p class="btn slide__btn">ashley lennon
            </p>
            <p class="slide__spec">IT Specialist
            </p><a class="slide__emaile" href="mailto:a.lennon@unique.com"><span class="slide__emaile-icon icon_mail">&#xe076;</span> <span>a.lennon@unique.com</span></a><br/><a class="slide__phone" href="tel:+1 911 (77) 222-1111"><span class="slide__phone-icon icon_phone">&#xe090;</span> <span>+1 911 (77) 222-1111</span></a>
          </div>
        </div>
        <div class="wrap">
          <div class="slide">
            <div class="slide__foto">
              <div class="slide__foto-imge">
              </div>
              <div class="icon-2"><a class="icon-2__bg">
                <p class="icon-2__pic social_facebook">&#xe093;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_twitter">&#xe094;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_googleplus">&#xe096;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_vimeo">&#xe09c;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_dribbble">&#xe09b;
                </p></a>
              </div>
            </div>
            <p class="btn slide__btn">steven cole
            </p>
            <p class="slide__spec">User Interface Designer
            </p><a class="slide__emaile" href="mailto:s.cole@unique.com"><span class="slide__emaile-icon icon_mail">&#xe076;</span> <span>s.cole@unique.com</span></a><br/><a class="slide__phone" href="tel:+1 911 (77) 222-1111"><span class="slide__phone-icon icon_phone">&#xe090;</span> <span>+1 911 (77) 222-1111</span></a>
          </div>
        </div>
        <div class="wrap">
          <div class="slide">
            <div class="slide__foto">
              <div class="slide__foto-imge">
              </div>
              <div class="icon-2"><a class="icon-2__bg">
                <p class="icon-2__pic social_facebook">&#xe093;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_twitter">&#xe094;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_googleplus">&#xe096;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_vimeo">&#xe09c;
                </p></a><a class="icon-2__bg">
                <p class="icon-2__pic social_dribbble">&#xe09b;
                </p></a>
              </div>
            </div>
            <p class="btn slide__btn">Frank piener
            </p>
            <p class="slide__spec">Sales Manager
            </p><a class="slide__emaile" href="mailto:f.piener@unique.com"><span class="slide__emaile-icon icon_mail">&#xe076;</span> <span>f.piener@unique.com</span></a><br/><a class="slide__phone" href="tel:+1 911 (77) 222-1111"><span class="slide__phone-icon icon_phone">&#xe090;</span> <span>+1 911 (77) 222-1111</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>