
<section class="w-companyf">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="companyf-b">
      <div class="icon">
        <p class="icon__pic icon_toolbox">&#xe085;
        </p>
      </div>
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">company <span class="title-3__text title-3__text--color">facts</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="companyf-b__subtitle">
        We do love to work and increase our counter numbers, this is what we’ve done till now
      </p>
      <div class="item-f">
        <div class="item-f__stat">
          <div class="item-f__stat-figure">
          </div>
          <p class="item-f__stat-number">218
          </p>
          <div class="item-f__stat-figure">
          </div>
        </div>
        <div class="item-f__icon">
          <div class="item-f__icon-line">
          </div>
          <p class="item-f__icon-pic icon_box-checked">&#x5a
          </p>
          <div class="item-f__icon-line">
          </div>
        </div>
        <p class="item-f__description">completed projects 
        </p>
      </div>
      <div class="item-f">
        <div class="item-f__stat">
          <div class="item-f__stat-figure">
          </div>
          <p class="item-f__stat-number">360
          </p>
          <div class="item-f__stat-figure">
          </div>
        </div>
        <div class="item-f__icon">
          <div class="item-f__icon-line">
          </div>
          <p class="item-f__icon-pic icon_hourglass">&#xe0e1;
          </p>
          <div class="item-f__icon-line">
          </div>
        </div>
        <p class="item-f__description">hours of work <span class="item-f__description-min">/month</span>
        </p>
      </div>
      <div class="item-f">
        <div class="item-f__stat">
          <div class="item-f__stat-figure">
          </div>
          <p class="item-f__stat-number">135
          </p>
          <div class="item-f__stat-figure">
          </div>
        </div>
        <div class="item-f__icon">
          <div class="item-f__icon-line">
          </div>
          <p class="item-f__icon-pic icon_tags">&#xe07c;
          </p>
          <div class="item-f__icon-line">
          </div>
        </div>
        <p class="item-f__description">solved tickets 
        </p>
      </div>
      <div class="item-f">
        <div class="item-f__stat">
          <div class="item-f__stat-figure">
          </div>
          <p class="item-f__stat-number">174
          </p>
          <div class="item-f__stat-figure">
          </div>
        </div>
        <div class="item-f__icon">
          <div class="item-f__icon-line">
          </div>
          <p class="item-f__icon-pic icon_like_alt">&#xe0dd;
          </p>
          <div class="item-f__icon-line">
          </div>
        </div>
        <p class="item-f__description">satisfied clients 
        </p>
      </div>
    </div>
  </div>
</section>