
<div class="w-offer">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="offer-b">
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">WHAT WE <span class="title-3__text title-3__text--color">OFFER</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="offer-b__subtitle">We offer our customers the best services & solutions, this is our main services list
      </p>
      <div class="card-1">
        <p class="card-1__icon icon_desktop">&#xe00e;
        </p>
        <h4 class="card-1__title">RESPONSIVE & MULTIPURPOSE
        </h4>
        <p class="card-1__text">
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        </p>
        <button class="btn card-1__btn">READ MORE
        </button>
      </div>
      <div class="card-1">
        <p class="card-1__icon card-1__icon--puzzle icon_puzzle_alt">&#xe0f9;
        </p>
        <h4 class="card-1__title">EASY CUSTOMIZATION
        </h4>
        <p class="card-1__text">
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        </p>
        <button class="btn card-1__btn">READ MORE
        </button>
      </div>
      <div class="card-1">
        <p class="card-1__icon icon_lifesaver">&#xe028;
        </p>
        <h4 class="card-1__title">AWESOME FRIENDLY SUPPORT
        </h4>
        <p class="card-1__text">
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        </p>
        <button class="card-1__btn">READ MORE
        </button>
      </div>
    </div>
  </div>
</div>