
<div class="w-portfolio">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="portfolio-b">
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">sample <span class="title-3__text title-3__text--color">works</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="portfolio-b__subtitle">Let’s take a look at some of the best of our works here, we love them and hope you too
      </p>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <div class="card-2">
        <div class="icon-2"><a class="icon-2__bg">
          <p class="icon-2__pic icon_link_alt">&#xe02b;
          </p></a><a class="icon-2__bg">
          <p class="icon-2__pic icon_search">&#x55;
          </p></a>
        </div>
        <p class="card-2__title">Corporate Brochure
        </p>
        <p class="card-2__subtitle">Illustration / Print
        </p><a class="card-2__rating"><span class="card-2__rating card-2__rating--icon icon_heart">&#xe089;</span> 136</a>
      </div>
      <button class="btn portfolio-b__btn">view all works
      </button>
    </div>
  </div>
</div>