
<div class="w-prises">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="prises-b">
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">real cheap <span class="title-3__text title-3__text--color">prices</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="prises-b__subtitle">Let’s take a look at some of the best of our works here, we love them and hope you too
      </p>
      <div class="prise-card">
        <p class="prise-card__name">standard plan
        </p>
        <p class="prise-card__calk"> <span class="prise-card__calk-dolar">$</span><span class="prise-card__calk-number">19</span><span class="prise-card__calk-penny">99</span><span class="prise-card__calk-romb"></span><span class="prise-card__calk-month">Monthly</span>
        </p>
        <div class="prise-card__offer">
          <p class="prise-card__offer-text">5 Projects
          </p>
          <p class="prise-card__offer-text">5 GB Storage
          </p>
          <p class="prise-card__offer-text">Unlimited Users
          </p>
          <p class="prise-card__offer-text">10 GB Bandwith
          </p>
          <p class="prise-card__offer-text">Enhanced Security
          </p>
        </div>
        <div class="btn prise-card__btn">sign up now
        </div>
      </div>
    </div>
  </div>
</div>