
<div class="w-prices">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="prices-b">
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">real cheap <span class="title-3__text title-3__text--color">prices</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="prices-b__subtitle">Let’s take a look at some of the best of our works here, we love them and hope you too
      </p>
      <div class="price-card">
        <p class="price-card__name"><span>standard plan</span>
        </p>
        <p class="price-card__calk"> <span class="price-card__calk-dolar">$</span><span class="price-card__calk-number">19</span><span class="price-card__calk-penny">99</span><span class="price-card__calk-romb"></span><span class="price-card__calk-month">Monthly</span>
        </p>
        <div class="price-card__offer">
          <p class="price-card__offer-text">5 Projects
          </p>
          <p class="price-card__offer-text">5 GB Storage
          </p>
          <p class="price-card__offer-text">Unlimited Users
          </p>
          <p class="price-card__offer-text">10 GB Bandwith
          </p>
          <p class="price-card__offer-text">Enhanced Security
          </p>
        </div>
        <div class="btn price-card__btn">sign up now
        </div>
      </div>
      <div class="price-card">
        <p class="price-card__name"><span>premium plan</span>
        </p>
        <p class="price-card__calk"> <span class="price-card__calk-dolar">$</span><span class="price-card__calk-number">29</span><span class="price-card__calk-penny">99</span><span class="price-card__calk-romb"></span><span class="price-card__calk-month">Monthly</span>
        </p>
        <div class="price-card__offer">
          <p class="price-card__offer-text">10 Projects
          </p>
          <p class="price-card__offer-text">15 GB Storage
          </p>
          <p class="price-card__offer-text">Unlimited Users
          </p>
          <p class="price-card__offer-text">20 GB Bandwith
          </p>
          <p class="price-card__offer-text">Enhanced Security
          </p>
        </div>
        <div class="btn price-card__btn">sign up now
        </div>
      </div>
      <div class="price-card">
        <p class="price-card__name"><span class="price-card__name-star icon_star">&#xe033;</span><span> advanced plan </span><span class="price-card__name-star icon_star">&#xe033;</span>
        </p>
        <p class="price-card__calk"> <span class="price-card__calk-dolar">$</span><span class="price-card__calk-number">49</span><span class="price-card__calk-penny">99</span><span class="price-card__calk-romb"></span><span class="price-card__calk-month">Monthly</span>
        </p>
        <div class="price-card__offer">
          <p class="price-card__offer-text">15 Projects
          </p>
          <p class="price-card__offer-text">30GB Storage
          </p>
          <p class="price-card__offer-text">Unlimited Users
          </p>
          <p class="price-card__offer-text">50 GB Bandwith
          </p>
          <p class="price-card__offer-text">Enhanced Security
          </p>
        </div>
        <div class="btn price-card__btn">sign up now
        </div>
      </div>
      <div class="price-card">
        <p class="price-card__name"><span>ultimate plan</span>
        </p>
        <p class="price-card__calk"> <span class="price-card__calk-dolar">$</span><span class="price-card__calk-number">99</span><span class="price-card__calk-penny">99</span><span class="price-card__calk-romb"></span><span class="price-card__calk-month">Monthly</span>
        </p>
        <div class="price-card__offer">
          <p class="price-card__offer-text">Unlimited Projects
          </p>
          <p class="price-card__offer-text">Unlimited Storage
          </p>
          <p class="price-card__offer-text">Unlimited Users
          </p>
          <p class="price-card__offer-text">Unlimite Bandwith
          </p>
          <p class="price-card__offer-text">Enhanced Security
          </p>
        </div>
        <div class="btn price-card__btn">sign up now
        </div>
      </div>
    </div>
  </div>
</div>