
<section class="w-properties">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="properties-b">
      <div class="icon">
        <p class="icon__pic icon_key">&#xe06e;
        </p>
      </div>
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">AMAZING <span class="title-3__text title-3__text--color">FEATURES</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="properties-b__subtitle">
        With unlimited features that we offer, we promise it’s possible to make everything 
        that was impossible for you !
      </p>
      <ul class="info">
        <li class="item">
          <div class="item__icon">
            <p class="item__icon-pic icon_desktop">&#xe00e;
            </p>
          </div>
          <p class="item__title">RESPONSIVE & MULTIPURPOSE
          </p>
          <p class="item__text">
            Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
          </p>
        </li>
        <li class="item">
          <div class="item__icon">
            <p class="item__icon-pic icon_puzzle_alt">&#xe0f9;
            </p>
          </div>
          <p class="item__title">EASY CUSTOMIZATION
          </p>
          <p class="item__text">
            Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
          </p>
        </li>
        <li class="item">
          <div class="item__icon">
            <p class="item__icon-pic icon_star">&#xe033;
            </p>
          </div>
          <p class="item__title">ULIMITED FEATURES
          </p>
          <p class="item__text">
            Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
          </p>
        </li>
      </ul>
      <div class="device"><img class="device__foto" src="../static/img/2-layers.png" alt="device" title=""/>
      </div>
    </div>
  </div>
</section>