
<div class="w-properties2">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <ul class="properties2-b">
      <li class="item1">
        <div class="tab">
          <p class="tab__bg tab__bg--once icon_desktop">&#xe00e;
          </p>
          <div class="tab__bg tab__bg--two">
          </div>
        </div>
        <p class="item1__title">responsive &amp; multipurpose
        </p>
        <p class="item1__subtitle">Desktops, Tablets &amp; Phones
        </p>
        <p class="item1__text">
          Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. 
          Praesent arcu turpis.
        </p>
      </li>
      <li class="item1">
        <div class="tab">
          <p class="tab__bg tab__bg--once icon_puzzle_alt">&#xe0f9;
          </p>
          <div class="tab__bg tab__bg--two">
          </div>
        </div>
        <p class="item1__title">easy customization
        </p>
        <p class="item1__subtitle">One Click Demo Content Installation
        </p>
        <p class="item1__text">
          Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. 
          Praesent arcu turpis.
        </p>
      </li>
      <li class="item1">
        <div class="tab">
          <p class="tab__bg tab__bg--once icon_star">&#xe033;
          </p>
          <div class="tab__bg tab__bg--two">
          </div>
        </div>
        <p class="item1__title">unlimited features
        </p>
        <p class="item1__subtitle">Shortcodes, Typography &amp; Different Layouts
        </p>
        <p class="item1__text">
          Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. 
          Praesent arcu turpis.
        </p>
      </li>
      <li class="item1">
        <div class="tab">
          <p class="tab__bg tab__bg--once icon_menu-square_alt">&#xe056;
          </p>
          <div class="tab__bg tab__bg--two">
          </div>
        </div>
        <p class="item1__title">clean &amp; modular coding
        </p>
        <p class="item1__subtitle">100% Clean, Valid &amp; Well-Commented Coding
        </p>
        <p class="item1__text">
          Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. 
          Praesent arcu turpis.
        </p>
      </li>
      <li class="item1">
        <div class="tab">
          <p class="tab__bg tab__bg--once icon_cart">&#xe07a;
          </p>
          <div class="tab__bg tab__bg--two">
          </div>
        </div>
        <p class="item1__title">the best e-commerce solutions
        </p>
        <p class="item1__subtitle">WooCommerce Fully Integration
        </p>
        <p class="item1__text">
          Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. 
          Praesent arcu turpis.
        </p>
      </li>
      <li class="item1">
        <div class="tab">
          <p class="tab__bg tab__bg--once icon_lifesaver">&#xe028;
          </p>
          <div class="tab__bg tab__bg--two">
          </div>
        </div>
        <p class="item1__title">awesome friendly support
        </p>
        <p class="item1__subtitle">Free Lifetime Support &amp; Updates1
        </p>
        <p class="item1__text">
          Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. 
          Praesent arcu turpis.
        </p>
      </li>
    </ul>
  </div>
</div>