
<div class="w-question2">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="question2-b">
      <h3 class="question2-b__title"> <span class="question2-b__title-big">Unique! </span><span class="question2-b__title-text">We Do </span><span class="question2-b__title-icon icon_heart">&#xe089;</span><span class="question2-b__title-text"> It And Hope You Too</span>
      </h3>
      <button class="btn question2-b__btn">purchase it now <span class="question2-b__btn-icon icon_cart">&#xe07a;</span>
      </button>
    </div>
  </div>
</div>