
<div class="w-question">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="question-b">
      <h3 class="question-b__title">are you satisfied with unlimited features that we offer?
      </h3>
      <div class="question-b__panel">
        <button class="btn question-b__btn">purchase it now
        </button>
        <button class="btn question-b__btn">contact us now
        </button>
      </div>
    </div>
  </div>
</div>