
<section class="w-skills">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="skills-b">
      <div class="icon">
        <p class="icon__pic icon_toolbox">&#xe085;
        </p>
      </div>
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">our powerful  <span class="title-3__text title-3__text--color">skills</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="skills-b__subtitle">
        With unlimited features that we offer, we promise it’s possible to make everything 
        that was impossible for you !
      </p>
      <div class="prog-bar">
        <svg class="chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
          <circle class="chart__bg" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
          <circle class="chart__circle" stroke="#00a99d" stroke-width="1" stroke-dasharray="75,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
        </svg>
        <p class="prog-bar__percent"> <span class="prog-bar__percent-strong">75</span><span class="prog-bar__percent-min">%</span>
        </p>
        <p class="prog-bar__name">web design
        </p>
      </div>
      <div class="prog-bar">
        <svg class="chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
          <circle class="chart__bg" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
          <circle class="chart__circle" stroke="#00a99d" stroke-width="1" stroke-dasharray="92,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
        </svg>
        <p class="prog-bar__percent"> <span class="prog-bar__percent-strong">92</span><span class="prog-bar__percent-min">%</span>
        </p>
        <p class="prog-bar__name">web development
        </p>
      </div>
      <div class="prog-bar">
        <svg class="chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
          <circle class="chart__bg" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
          <circle class="chart__circle" stroke="#00a99d" stroke-width="1" stroke-dasharray="68,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
        </svg>
        <p class="prog-bar__percent"> <span class="prog-bar__percent-strong">68</span><span class="prog-bar__percent-min">%</span>
        </p>
        <p class="prog-bar__name">speed optimization
        </p>
      </div>
      <div class="prog-bar">
        <svg class="chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
          <circle class="chart__bg" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
          <circle class="chart__circle" stroke="#00a99d" stroke-width="1" stroke-dasharray="100,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
        </svg>
        <p class="prog-bar__percent"> <span class="prog-bar__percent-strong">100</span><span class="prog-bar__percent-min">%</span>
        </p>
        <p class="prog-bar__name">customer support
        </p>
      </div>
      <div class="prog-bar">
        <svg class="chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
          <circle class="chart__bg" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
          <circle class="chart__circle" stroke="#00a99d" stroke-width="1" stroke-dasharray="83,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
        </svg>
        <p class="prog-bar__percent"> <span class="prog-bar__percent-strong">83</span><span class="prog-bar__percent-min">%</span>
        </p>
        <p class="prog-bar__name">marketing
        </p>
      </div>
      <div class="prog-bar">
        <svg class="chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
          <circle class="chart__bg" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
          <circle class="chart__circle" stroke="#00a99d" stroke-width="1" stroke-dasharray="50,100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
          </circle>
        </svg>
        <p class="prog-bar__percent"> <span class="prog-bar__percent-strong">50</span><span class="prog-bar__percent-min">%</span>
        </p>
        <p class="prog-bar__name">advertisement
        </p>
      </div>
    </div>
  </div>
</section>