
<section class="w-skills">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="skills-b">
      <div class="icon">
        <p class="icon__pic icon_toolbox">&#xe085;
        </p>
      </div>
      <div class="title-3">
        <div class="figure figure--left">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
        <p class="title-3__text">our powerful  <span class="title-3__text title-3__text--color">skills</span>
        </p>
        <div class="figure figure--right">
          <div class="figure__line">
          </div>
          <div class="figure__rhombus figure__rhombus--once">
          </div>
          <div class="figure__rhombus figure__rhombus--two">
          </div>
          <div class="figure__rhombus figure__rhombus--three">
          </div>
        </div>
      </div>
      <p class="skills-b__subtitle">
        With unlimited features that we offer, we promise it’s possible to make everything 
        that was impossible for you !
      </p>
    </div>
  </div>
</section>