
<section class="w-social"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="social-b">
      <div class="social-b__logo"><img class="social-b__logo-imge" src="../static/img/logo.png" alt="logo" title=""/>
      </div>
      <p class="social-b__items"><span class="social-b__item-icon social_facebook">&#xe093;</span><span class="social-b__item-icon social_twitter">&#xe094;</span><span class="social-b__item-icon social_pinterest">&#xe095;</span><span class="social-b__item-icon social_rss">&#xe09e;</span><span class="social-b__item-icon social_vimeo">&#xe09c;</span><span class="social-b__item-icon social_youtube">&#xe0a3;</span><span class="social-b__item-icon social_linkedin">&#xe09d;</span><span class="social-b__item-icon social_dribbble">&#xe09b;</span><span class="social-b__item-icon social_deviantart">&#xe09f;</span><span class="social-b__item-icon social_picassa">&#xe0a4;</span><span class="social-b__item-icon social_tumbleupon">&#xe098;</span>
      </p>
    </div>
  </div>
</section>