
<div class="w-utterance">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="utterance-b">
      <div class="icon">
        <p class="icon__pic icon_quotations">&#x7b;
        </p>
      </div>
      <div class="cit-slider">
        <div class="quotes-item"><span class="quotes-item__user"><span class="quotes-item__user-autor">alexis simpson</span><span class="quotes-item__user-spec"> - CEO &amp; Developer</span></span>
          <p class="quotes-item__text">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!&quot;
          </p>
        </div>
        <div class="quotes-item"><span class="quotes-item__user"><span class="quotes-item__user-autor">steven cole</span><span class="quotes-item__user-spec"> - User Interface Designer</span></span>
          <p class="quotes-item__text">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!&quot;
          </p>
        </div>
        <div class="quotes-item"><span class="quotes-item__user"><span class="quotes-item__user-autor">Frank piener</span><span class="quotes-item__user-spec"> - Sales Manager</span></span>
          <p class="quotes-item__text">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!&quot;
          </p>
        </div>
        <div class="quotes-item"><span class="quotes-item__user"><span class="quotes-item__user-autor">ashley lennon</span><span class="quotes-item__user-spec"> - IT Specialist</span></span>
          <p class="quotes-item__text">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!&quot;
          </p>
        </div>
        <div class="quotes-item"><span class="quotes-item__user"><span class="quotes-item__user-autor">steven cole</span><span class="quotes-item__user-spec"> - User Interface Designer</span></span>
          <p class="quotes-item__text">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!&quot;
          </p>
        </div>
        <div class="quotes-item"><span class="quotes-item__user"><span class="quotes-item__user-autor">Frank piener</span><span class="quotes-item__user-spec"> - Sales Manager</span></span>
          <p class="quotes-item__text">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit, similique delectus mollitia exercitationem impedit esse praesentium officia at aspernatur sed architecto voluptatem quibusdam. Dolores ab perspiciatis autem consequatur ex!&quot;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>