mixin createProgress(Data = [])
  each elem in Data
    +b.prog-bar
      +b.chart.SVG(viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg")
        +e.bg.CIRCLE(stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
        +e.circle.CIRCLE(stroke="#00acc1" stroke-width="1" stroke-dasharray=elem.percent+",100" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
      +e.percent.P 
        +e.percent-strong.SPAN= elem.percent
        +e.percent-min.SPAN %
      +e.name.P= elem.name